* {
    margin: 0;
    padding: 0;
}

.InputPlayGame {
    text-align: center;
}

/*スコアボード*/
.scoreBoardTable {
    text-align: center;
    width: 80%;
    table-layout: fixed;
    border: 1.5px #7e7e7e solid;
    margin: auto
}

.scoreBoardTr {
    background: #858585;
}

.scoreBoardSchoolName {
    width: 350%;
    table-layout: fixed;
    border: 1.5px #7e7e7e solid;
}

.scoreBoardTh {
    width: 80%;
}

.diamondPng {
    width: 80%;
    text-align: center;
    margin: auto
}


.size {
    color: #1da1f2;
    /*青色にする*/
}

/*キャンバスに関する*/
canvas {
    border: 1px solid black;
}

.nowIningScore {
    color: rgb(0, 4, 255);
    background-color: rgb(255, 0, 0);
}