/* 変更箇所 */
header .back{
    position: absolute;
    padding: 0;
    top: 25%;
}

.back button{
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.whole_Sokuhou{
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.btn_So_Make{
    font-size: 15px;
    background-color: #00afcc;
    color: white;
    padding: 5px 0; /* ボタンの高さ */
    width: 30vh;   /* ボタンの横幅 */
    margin: 10px;/* 周りの余白 */
    border: 0;
    border-radius: 5px;   
    transition: background-color 0.5s;
}

.btn_So_Make:hover{
    opacity: 0.7;
}
