@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap");

:root{
    --color-main: #00afcc;
}

*{
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
}

.resultButton{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.passButtonFalse{
    background-color: black;
    color: white;
}

.passButtonTrue{
    background-color: rgb(240, 224, 0);
}

.outCountsAndRunnerCounts .outCount{
    display: flex;
}

.outCountDisplay{
    font-size: 1.5em;
    padding-top: 0;
    margin: 0 5px;
  }

.resultButton button{
    margin: 5px;
    padding: 2px 15px;
    font-size: 1.5em;
    font-weight: 1000;
    background-color:  rgba(232, 235, 235, 0.2);
    border: solid 3px black;
    border-radius: 5px;
}

.diamondPng{
    margin-top: 15px;
}