.headline_t{
    margin: 7px;
    font-weight: bold;
    font-size: 36px;
    width:1200px;
    margin: 50px auto;
    border-bottom: solid 4px #228b22;
}

.box_grade_t {
    margin: 2em 0;
    background: #f1f1f1;
    margin: 0px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    width: 500px;
}
.box_grade_t .box-title {
    font-size: 1.2em;
    background: #228b22;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.05em;
    display: inline-block;
}
p{
    font-size: 24px;
    display: inline-block;
    margin: 5px auto;
    white-space: nowrap;
} 

.btn_In_tsch1{
    font-size: 15px;
    background-color: white;
    color: #8ae871;
    padding: 5px 0; /* ボタンの高さ */
    /*width: 30vh;*/   /* ボタンの横幅 */
    height: 12vh;
    margin: 10px;/* 周りの余白 */
    padding: 30px;
    font-size: 28px;
    border: solid 3px #8ae871;
    border-radius: 20px;   
    transition: background-color 0.5s;
}

.btn_In_tsch1:hover{
    opacity: 0.5;
    color: #228b22;
}



/* .box_option {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000080;
    display: inline-block;
} */

.box_option_t{
    text-align: center;
    margin: 10px auto;
}
.option_t{
    font-size: 1.2em;
    background: #228b22;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    display: inline-block;
} 

.box_schoolName_t {
    text-align: center;
    margin: 10px auto;
} 

.schoolName_t {
    font-size: 1.2em;
    background: #228b22;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    display: inline-block;
}

.schoolName_t2 {
    font-size: 1.2em;
    background: #228b22;
    padding: 10px;
    text-align: left;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    width: 800px;
    margin: 20px auto;
}

.btn_In_tsch2{
    border-radius: 5px;
    text-align:"right"
}
.btn_In_tsch2:hover{
    opacity: 0.5;
}

.box_schools_t{
    margin: 50px auto;
    background: #f1f1f1;
    width:1200px;
}

.schools_t {
    position:relative;
    top: 10px;
    background: #f1f1f1;
    line-height: 70px;
    font-weight: bold;
    font-size: 32px;
    margin: 50px auto;
    width:1150px;
    height:70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
}

.main-grid {
    display: grid;
    grid-template-areas:
    "header header"
    "left main"
    "footer footer";
    grid-template-columns: 52%  48%;
    grid-gap: 0px;
}
aside {
    grid-area: left;
    
}

article {
    grid-area: main;
    
}
