.membersExample{
    color: white;
    border-collapse: collapse;
    margin: auto;
    text-align:center;
}

.members{
    border-collapse: collapse;
    border-color: black;
    margin: auto;
    text-align:center;
}

