.out-result {
  display: flex;
  align-items: center;
}

/* 信号機の光（緑） */
#out1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color: red; */
}

/* 信号機の光（黄色） */
#out2 {
  background-color:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color: red; */
  /* animation-delay: 3s; */
}

.light.out2::after {
  /* animation-delay: 3s; */
}

/* 信号機の光（赤） */
#out3 {
  background: black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color:red; */
  /* animation-delay: 6s; */
}

#ball1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball2{
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball3 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball4 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#str1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#str2 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
 
}

#str3 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.light.out3::after {
  /* animation-delay: 6s; */
}

/* 信号機の光の影の部分のアニメーション */
/* @keyframes shadow {
  0% {
    box-shadow: 0 0 20px 4px;
  }
  32% {
    box-shadow: 0 0 20px 4px;
  }
  33% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
} */

/* 信号機の光のアニメーション */
/* @keyframes light {
  0% {
    background-color: transparent;
  }
  32% {
    background-color: transparent;
  }
  33% {
    background-color: #0f1616;
  }
  100% {
    background-color: #0f1616;
  }
} */