/*body {
  overflow: hidden;
}*/

.formContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h1{
  text-align: center;
}

.formContainer form{
  width: 70%;
  max-width: 450px;
  padding: 30px;
}

.uiform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  background-color: rgb(223, 222, 222);
}

.form{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.formField{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
}

.formField input{
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}


.submitButton{
  background-color: rgb(35, 35, 236);
  width: 80%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover{
  background-color: rgb(16, 16, 238);
}

.errorMsg{
  color: red;
  margin: 0;
  align-self: flex-start;
}

.MsgOk{
  color: green;
  margin-top: 15px;
}
