.out-result {
  display: flex;
  align-items: center;
}

/* 信号機の光（緑） */
#out1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color: red; */
}

/* 信号機の光（黄色） */
#out2 {
  background-color:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color: red; */
  /* animation-delay: 3s; */
}

.light.out2::after {
  /* animation-delay: 3s; */
}

/* 信号機の光（赤） */
#out3 {
  background: black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  /* color:red; */
  /* animation-delay: 6s; */
}

#ball1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball2{
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball3 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#ball4 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#str1 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

#str2 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
 
}

#str3 {
  background:black;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.light.out3::after {
  /* animation-delay: 6s; */
}

.startingMemberTag{
  background:#016435;
  color:white;
  text-align:center;
  width: 650px;
  font-size: 33px;
  height: 50px;
  margin:  auto;
}


.startingMember{
  margin:  auto;
  text-align:center;
 
}
.startingMembers{
  margin:  auto;
  text-align:center;
  font-size: 20px;
}

.schoolBox{
  background:black;
  color:white;
  width: 400px;
  height: 50px;
  margin:  20px;  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.members{
  color:white;
  margin:  auto;
  
}
.members td{
  background: #191970;
}

.textSokuhou{
  position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px rgb(229,239,234);
}
.textSokuhou .box-title {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  background: rgb(229,239,234);
  color: #016435;
  font-weight: bold;
}
.textSokuhou .startingMembers {
  margin: 0; 
  padding: 0;
}

.daseki{
  
}
/* 信号機の光の影の部分のアニメーション */
/* @keyframes shadow {
  0% {
    box-shadow: 0 0 20px 4px;
  }
  32% {
    box-shadow: 0 0 20px 4px;
  }
  33% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
} */

/* 信号機の光のアニメーション */
/* @keyframes light {
  0% {
    background-color: transparent;
  }
  32% {
    background-color: transparent;
  }
  33% {
    background-color: #0f1616;
  }
  100% {
    background-color: #0f1616;
  }
} */