@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap");

:root{
    --color-main: #00afcc;
    /* rgba(0, 175, 204, 1); */
}

*{
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
}

.search{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.headline{
    margin: 7px;
    font-weight: bold;
    width: 100%;
    margin: 50px auto;
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid #0159ac;
}

.box_grade {
    border-bottom: 1px solid #ccc;
    display: table;
    width: 100%;
}
/* .box_grade .box-title {
    font-size: 1.2em;
    background: #000080;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.05em;
    display: inline-block;
} */

.box_schoolName{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
}

.box_option{
    border-bottom: 1px solid #ccc;
    display: table;
    width: 100%;
}

.box_title_grade{
    font-size: large;
    padding-left: 5px;
    height: 30px;
    display: table-cell;
    background: #f2f2f2;
    width: 7em;
    padding: 10px 12px;
}

.box_title_school{
    font-size: large;
    padding-left: 5px;
    display: table-cell;
    background: #f2f2f2;
    width: 7em;
    padding: 10px 12px;
}

.box_title_option{
    font-size: large;
    padding-left: 5px;
    display: table-cell;
    background: #f2f2f2;
    width: 7em;
    padding: 10px 12px;
}

.search > dl dd{
    display: table-cell;
    padding: 10px 12px;
    vertical-align: top;
}

.search label{
    font-size: 100%;
}



/* p{
    font-size: 24px;
    display: inline-block;
    margin: 5px auto;
    white-space: nowrap;
}  */



.btn_In_sch1{
    font-size: 15px;
    background-color: white;
    color: #1e90ff;
    padding: 5px 0; /* ボタンの高さ */
    height: 12vh;
    margin: 10px;/* 周りの余白 */
    padding: 30px;
    font-size: 28px;
    border: solid 3px #1e90ff;
    border-radius: 20px;   
    transition: background-color 0.5s;
    
}

.btn_In_sch1:hover{
    opacity: 0.5;
    color: #000080;
}

.btn_In_sch2{
    display:block;
    margin:10px auto;
    padding: 7px 20px;
    border: none;
    box-shadow: 0 3px 0 #d27d00;
    border-radius: 10px;
    background: #FF9700;
    color: #fff;
    width: 200px;
}

.btn_In_sch2:hover{
    opacity: 0.5;
}



.schoolName_2 {
    font-size: 1.2em;
    background: #000080;
    padding: 5px;
    text-align: left;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    width: 800px;
    margin: 20px auto;
}

.box_schools{
    margin: 50px auto;
    width:100%;
}

.schools {
    margin: 7px;
    font-weight: bold;
    width: 100%;
    margin: 50px auto;
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid #0159ac;
}


/* .main-grid {
    display: grid;
    grid-template-areas:
    "header header"
    "left main"
    "footer footer";
    grid-template-columns: 52%  48%;
    grid-gap: 0px;
} */


aside {
    grid-area: left;
    
}

article {
    grid-area: main;
    
}
