.side-bar {
  position:absolute;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(64, 194, 133, 0.693);
  background-color: rgb(100, 255, 255);
  transition: 0.8s ease;
}
.toggle-menu {
  height: 20px;
  /* border-top-right-radius: 10rem; */
  /* border-bottom-right-radius: 9rem; */
  width: 20px;
  position: absolute;
  right:200px;
  outline: none;
  z-index: 1;
  background-color: rgba(64, 194, 133, 0.693);
  border-color: rgba(64, 194, 133, 0.693);
  border-left: 0;
}